---
import Navigation from "./Navigation.astro"
---

<header>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header {
    height: 4rem;
    position: fixed;
    width: 100%;
  }
  nav {
    height: 100%;
  }
</style>