---
import Layout from "../layouts/Layout.astro";
import Card from "../components/astro/Card.astro";
---

<Layout title="Welcome to WeatherGo">
  <main>
    <h1>Welcome to <span class="text-gradient">WeatherGo</span></h1>
    <div class="instructions">
      <p>
        To get started, click on the links in the header and check the weather
        of your city and plan your weekend
      </p>
    </div>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    color: var(--color-secondary-accent);
    background-size: 400%;
    background-position: 0%;
  }
  p {
    color: white;
		font-size: 16px;
		font-weight: 600;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: var(--color-about);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
  }
</style>
