---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from "../components/astro/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );

    --color-light: white;
    --color-dark: #212121;
    --color-signal: #f9637c;
    --color-yellow: #fbb45c;
		--color-green: #038db2;
		--color-green-dark: #206492;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
		--color-card: var(--color-yellow);
		--color-about: var(--color-green);
		--color-secondary-accent: var(--color-green-dark);

    --size-bezel: 0.5rem;
    --size-radius: 4px;

    line-height: 1.4;

    font-family: "Inter", sans-serif;
    font-size: calc(0.6rem + 0.4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
  }

  main {
    margin: 0;
    padding: 15rem;
    padding-top: 7rem;
  }
  body {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
